packs/**/*.ldb binary
packs/**/*.log binary
packs/**/CURRENT binary
packs/**/LOG binary
packs/**/LOG.old binary
packs/**/LOCK binary
packs/**/MANIFEST-* binary
packs/**/_source/** text
module.json text